div {

border: 1px solid red;

}
body {

border: 5px solid purple;
padding: 0;
margin: 0;
background-color: rgb(65, 63, 63) !important;
}

#header {

height: 20vh;
}

#section1 {
background-color: #0a0e7e;
height: 50vh;
}

#section2 {

height: 50vh;
background-color: #e5e7eb;
}

#section3 {

    height: 50vh;
    background-color: gray;
}

#section4 {

    height: 50vh;
    background-color: #e5e7eb;
}
        
div.flex {
display: flex;
width: 100%;
height: 100%;
background-color: #1f2397;;
color: white;
}
#headerFlex1 {

    align-items: center;
}
#headerFlex2 {

    flex-direction: row-reverse;
    align-items: center;
}
#headerFlex2>div.divSpan{

margin-right: 20%;


}
#headerLogo {


margin-left: 20%;


}


