div {

border: 1px solid red;

}
body {

border: 5px solid purple;
padding: 0;
margin: 0;

}

#header {

height: 10vh;
}

#section1 {

height: 30vh;
}

#section2 {

height: 40vh;
}

#section3 {

    height: 40vh;
}

#section4 {

    height: 40vh;
}
        
div.flex {
display: flex;
width: 100%;
height: 100%;
background-color: lightblue;

}
#headerFlex1 {

    align-items: center;
}
#headerFlex2 {

    flex-direction: row-reverse;
    align-items: center;
}
#headerLogo {


margin-left: 20%;


}


