body{
    padding:0;
    margin:0;
}

.row{

display: flex;
flex-wrap: wrap;

}

.flex{

/* border: 1px dashed red; */
display: flex;
width: 100%;
height: 100%;
}

.marginLeft20 {

    margin-left: 20%;

}

.fontSize18 {

font-size: 18px;
color: white;
}

.fontSize48{

font-size: 48px;
color: white;
font-weight: bold;

}








.row.one{

background-color: #073b4c;
height: 400px !important;
}

.signUpBtn{

    width: auto !important;
    border-radius: 5px;
    background-color: lightblue;
    color: white;
    font-weight: bold;
    padding: 2px 18px !important;
    margin: 16px 0px 50px 20% !important;

}
.flexEnd{

justify-content: end;

}

.flexCenter{

justify-content: center;
align-items: center;

}
.backgroundSame{

background-color: #073b4c;

}
.marginRight20{

margin-right: 20% !important;

}
.noWrap {

white-space: nowrap;

}

.backgroundGray {
    height: 75%;
    width: 75%;
    background-color: gray;
    
}








.row.two {

background-color: #FFD166;
height: 450px;
}

.rowTwoHeader header{

    margin:30px 0px 30px 0px;

}

.outline {

width: 150px;
height: 150px;
border-radius: 10px;
border: 6px solid black;

}
.subtextBoxContainer{

/* border: 1px solid red; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 150px;


}

.spaceEvenly{

justify-content: space-evenly;

}
.outlineSubtext {

/* border: 1px solid black; */
text-align: center;

}
.outlineSubtext>p {

color: #073B4C;

}
.fontSize36 {

font-size: 36px;

}

.fontSize14{

font-size: 14px;

}
.sectionTwoFlex1{

padding-left: 10%;

}

.sectionTwoFlex2{

padding-right: 10%;

}

/* .rowTwoMainContent{



} */







.row.three{

background-color: #06D6A0;
height: 450px;
}


.rowThreeMainQuote{

height: 80%;

width: 100%;

}


.rowThreeQuoteFooter{

height: 20%;
width: 100%;

}

.quote{

    display: flex;
    height: 75%;
    width: 75%;
    font-size: 36px;
    font-style: italic;
}

.quoteFooter{

  display: flex;
  height: 75%;
  width: 75%;
  flex-direction: row-reverse;
  font-size: 28px;
}

.flexColumn{

flex-direction: column;


}

.quotePlacement{

justify-content: center;
align-items: flex-end;
border: none;


}




.quotePlacementTwo{

justify-content: center;
align-items: flex-start;
border: none;

}







.row.four{

background-color: greenyellow;
height: 450px;
}


.sectionFourFlex{

 background-color:#118ab2;
 border-radius: 10px;
display: flex;
height:45%;
width: 75%;


}

.contentSectionFour{

display: flex;
width:60%;
height:100px;
background-color: #118ab2;
color: white;

}


.signUpBtnSectionFour{

    display: flex;
    width:20%;
    height:100px;
    background-color: #118ab2;
    justify-content: center;
    align-items: center;
    

}

.backgroundNotSame{

background-color: rgb(194, 186, 186);


}

.marginZero{

margin: 0% !important;

}

.justifyLeft{

justify-content: center;
align-items: flex-start;


}

.boldThis {

font-weight: bold;

}

.marginRightMobile{

margin-right: 0%;

}


@media (max-width: 480px){

.signUpBtn{

        width: auto !important;
        margin-top: 8px !important;
        border-radius: 5px;
        background-color: lightblue;
        color: white;
        font-weight: bold;
        padding: 2px 18px !important;
        margin-left: 0 !important;
    
    }


        
        .fontSize48{
        
        font-size: 24px;
        color: white;
        font-weight: bold;
        
        }
        .marginLeft20 {

            margin-left: 0%;
        
        }

.backgroundGray {
            height: 200px;
            width: 300px;
            background-color: gray;
            margin-bottom: 50px;
        }




.row.two {

height: 675px;

}

.sectionTwoFlex1{

margin-bottom: 20px;
padding: 0%;
}

.sectionTwoFlex2{

padding:0%;

}

.quote{

    display: flex;
    height: 95%;
    width: 95%;
    font-size: 26px;
    font-style: italic;
}

.quoteFooter{

  display: flex;
  height: 75%;
  width: 75%;
  flex-direction: row-reverse;
  font-size: 16px;
  align-items: center;
}

.sectionFourFlex{

    background-color:#118ab2;
    border-radius: 10px;
   display: flex;
   height:75%;
   width: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
   
   }
   
   .contentSectionFour{
   
   display: flex;
   width:100%;
   height:50%;
 
   
   }
   
   
   .signUpBtnSectionFour{
   
       display: flex;
       width:65%;
       height:100px;
       
       flex-direction: row-reverse;
       justify-content: flex-start;
       align-items: center;
       

   
   }
   

   .fontSizeSectionFour{

     font-size: 28px;

   }

   .flex>header{

    font-size: 20px;
    margin-bottom: 14px;
    margin-left: 10px;

   }
   
   .col-sm-4>p{

    margin-left: 10px;

   }
}